.App,
button,
input {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

h1 {
  line-height: 1.5em;
}

input {
  border: 3px solid black;
  height: 20px;
  margin: 5px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

button {
  background-color: black;
  color: white;
  border: 3px solid black;
  height: 28px;
  margin: 5px;
  padding: 1px 2px;
}

#taskList input:checked ~ #striked {
  text-decoration: line-through;
  text-decoration-thickness: 0.3rem;
  text-decoration-color: #444cf7;
}
