.App,
button,
input {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

h1 {
  line-height: 1.8rem;
  font-size: 2rem;
}

input {
  border: 1875rem solid black;
  height: 1.25rem;
  margin: 0.3125rem;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0.625rem 0.625rem 0 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 0.1875rem solid black;
  background-color: white;
}

input[type="checkbox"]:checked {
  appearance: none;
  margin: 0.625rem 0.625rem 0 0;
  height: 1.25rem;
  width: 1.25rem;
  border: 0.1875rem solid black;
  background-color: black;
}

button {
  background-color: black;
  color: white;
  border: 0.1875rem solid black;
  height: 1.75rem;
  margin: 0.3125rem;
  padding: 0.0625rem 0.125rem;
}

.list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#taskList {
  text-align: left;
}

#taskList ~ label {
  text-align: left;
}

ul {
  padding-inline-start: 0;
  list-style: none;
  width: 20%;
  text-align: left;
  line-height: 1.5rem;
  inline-size: 30%;
  overflow-wrap: break-word;
}

li ~ label {
  padding: 1.875rem;
  text-align: left;
}

#taskList input:checked ~ #striked {
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #ff5050;
}
