body {
  margin: 0 auto;
  padding: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    0deg,
    transparent 45%,
    #6e9262 45%,
    #6e9262 55%,
    transparent 55%,
    transparent 20%,
    #6e9262 20%,
    #6e9262 30%,
    transparent 30%
  );
  background-size: 3rem 3rem;
  background-color: #ffffff;
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}
